@import "@/styles/colors.scss";

button,
.btn {
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  transition: 0.5s;
  cursor: pointer;

  &__primary {
    height: 50px;
    font-weight: 600;
    color: $white;
    background: $sooty;

    &:hover {
      opacity: 65%;
    }
  }

  &__secondary {
    height: 50px;
    color: $sooty;
    font-weight: 600;
    border: 2px solid $sooty;

    &:hover {
      background: $paper-white;
    }
  }
}
