$breakpoint-mobile: 425px;
$breakpoint-mobile-l: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-l: 1440px;
$breakpoint-4k: 2560px;

$breakpoints: (
    "xs": $breakpoint-mobile,
    "sm": $breakpoint-mobile-l,
    "md": $breakpoint-tablet,
    "lg": $breakpoint-desktop,
    "xl": $breakpoint-desktop-l,
    "xg": $breakpoint-4k,
);